@model DB.ViewModels.SocialMediaViewModel
@{
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.culture.tr-TR.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.messages.tr-TR.min.js"></script>
<script src="~/js/ManagementPanel/BasicFunctions.js"></script>
<script src="~/js/ManagementPanel/SocialMedias.js"></script>

<partial name="_Alert" />

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            SOSYAL MEDYA EKLE
        </li>
        <li>
            SOSYAL MEDYALARIM
        </li>
    </ul>

    <div>
        <form asp-controller="SocialMedia"
              asp-action="@((bool)ViewBag.Update ? "UpdateDB": "Operations")"
              method="post"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Adı <span class="text-danger">*</span></label>
                        <input asp-for="SosyalMedya.SosyalMedyaAdi" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="SosyalMedya.SosyalMedyaAdi"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Adresi <span class="text-danger">*</span></label>
                        <input asp-for="SosyalMedya.Adres" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="SosyalMedya.Adres"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Ikon</label>
                        <input asp-for="Icon" name="Icon" id="File" type="file" />
                    </div>
                </div>
            </div>
            <div class="col-12 m-2 clearfix">
                <button class="k-button pull-right">KAYDET</button>
            </div>
        </form>
    </div>

    <div>
        <div id="SocialMedias"></div>
    </div>
</div>