@model DB.Models.Yetenekler
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.culture.tr-TR.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.messages.tr-TR.min.js"></script>
<script src="~/js/ManagementPanel/BasicFunctions.js"></script>
<script src="~/js/ManagementPanel/Skills.js"></script>

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            YETENEK EKLE
        </li>
        <li>
            YETENEKLERİM
        </li>
    </ul>

    <div>
        <form asp-controller="Skills"
              asp-action="@((bool)ViewBag.Update ? "UpdateDB": "Operations")"
              method="post">
            @Html.AntiForgeryToken()
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Adı:</label>
                        <input asp-for="Adi" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Başarı Oranı:</label>
                        <input asp-for="BasariOrani" type="number" min="0" max="100" class="k-textbox form-control" />
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Kategori:</label>
                        <select asp-for="KategoriId" asp-items="ViewBag.SkillCategories" class="k-textbox form-control">
                            <option value="0">Kategori Seçiniz</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Renk:</label>
                        <br />
                        <input asp-for="RenkKodu" id="colorPicker" class="form-control" />
                        <a href="javascript:;" onclick="GetRandomColor()" class="k-button ml-3">RASGELE</a>
                    </div>
                </div>
            </div>
            <div class="col-12 m-2 clearfix">
                <button class="k-button pull-right">KAYDET</button>
            </div>
        </form>
    </div>

    <div>
        <div id="Skills"></div>
    </div>
</div>