@model DB.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/ManagementLayout/login.css" rel="stylesheet" />
</head>
<body>
    <form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
        <div class="wrapper">
            <img width="150" height="150" src="~/ManagementLayout/images/avatar.png" alt="">
            <div class="summary">
                @Html.ValidationSummary()
            </div>
            <div class="input">
                <label>E-mail</label>
                <input asp-for="Email">
            </div>
            <div class="input">
                <label>Şifre</label>
                <input type="password" asp-for="Password">
            </div>
            <button>GİRİŞ</button>
        </div>
    </form>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>