@model DB.Models.Hesap
@{
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.culture.tr-TR.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.messages.tr-TR.min.js"></script>
<script src="~/js/ManagementPanel/BasicFunctions.js"></script>
<script src="~/js/ManagementPanel/Accounts.js"></script>

<partial name="_Alert" />

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            HESAP EKLE
        </li>
        <li>
            HESAPLAR
        </li>
    </ul>

    <div>
        <form asp-controller="Account"
              asp-action="@((bool)ViewBag.Update ? "UpdateDB": "Operations")"
              method="post">
            @Html.AntiForgeryToken()
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Kullanıcı Adı <span class="text-danger">*</span></label>
                        <input asp-for="KullaniciAdi" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="KullaniciAdi"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Şifre <span class="text-danger">*</span></label>
                        <input type="password" asp-for="Sifre" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="Sifre"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Ad Soyad <span class="text-danger">*</span></label>
                        <input asp-for="AdSoyad" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="AdSoyad"></span>
                    </div>
                </div>
            </div>
            @if (ViewBag.Show == null)
            {
                <div class="col-12 m-2 clearfix">
                    <button class="k-button pull-right">KAYDET</button>
                </div>
            }
        </form>
    </div>

    <div>
        <div id="accounts"></div>
    </div>
</div>