@model DB.Models.YetenekKategori
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/js/ManagementPanel/SkillCategories.js"></script>

<div class="k-content">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                KATEGORİ EKLE
            </li>
            <li>
                EKLENEN KATEGORİLER
            </li>
        </ul>

        <div>
            <form asp-controller="SkillCategories" 
                  asp-action="@(ViewBag.Update != null && (bool)ViewBag.Update? "UpdateDB": "Add")" 
                  method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-4">
                        <label>Kategori Adı:</label>
                        <input asp-for="Adi" class="k-textbox" />
                    </div>
                    <div class="col-4">
                        <button class="k-button">KAYDET</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div id="Categories"></div>
        </div>
    </div>
</div>