@model DB.Models.YetenekKategori
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.culture.tr-TR.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.messages.tr-TR.min.js"></script>
<script src="~/js/ManagementPanel/BasicFunctions.js"></script>
<script src="~/js/ManagementPanel/SkillCategories.js"></script>

<partial name="_Alert" />

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            KATEGORİ EKLE
        </li>
        <li>
            EKLENEN KATEGORİLER
        </li>
    </ul>

    <div>
        <form asp-controller="SkillCategories"
              asp-action="@(ViewBag.Update != null && (bool)ViewBag.Update ? "UpdateDB": "Operations")"
              method="post">
            @Html.AntiForgeryToken()
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Kategori Adı <span class="text-danger">*</span></label>
                        <input asp-for="Adi" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="Adi"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 m-2 clearfix">
                <button class="k-button pull-right">KAYDET</button>
            </div>
        </form>
    </div>

    <div>
        <div id="Categories"></div>
    </div>
</div>