<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a140cabbe8.js" crossorigin="anonymous"></script>
    <link href="~/ManagementLayout/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ManagementLayout/layout.css" rel="stylesheet" />
</head>

<body>
    <div id="sidePanelButton">
        <i id="fa" class="fas fa-bars fa-2x"></i>
    </div>
    <div id="sidePanel" class="sidePanel">
        <div class="admin">
            <img width="150" height="150" src="~/ManagementLayout/images/avatar.png" alt="">
            <p class="name">Necati Furkan</p>
            <p class="surname">ALPTEKİN</p>
        </div>
        <ul>
            <li>
                <a href="~/Accomplishment/Operations"><i class="fas fa-trophy fa-sm"></i> Başarılarım</a>
            </li>
            <li>
                <a href="~/Blog/Operations"><i class="fas fa-blog fa-sm"></i> Blog</a>
            </li>
            <li>
                <a href="~/CV/Operations"><i class="fas fa-portrait fa-sm"></i> CV</a>
            </li>
            <li>
                <a href="~/Education/Operations"><i class="fas fa-graduation-cap fa-sm"></i> Eğitimlerim</a>
            </li>
            <li>
                <a href="~/Account/Operations"><i class="fas fa-key fa-sm"></i> Hesap</a>
            </li>
            <li>
                <a href="~/Hobby/Operations"><i class="fas fa-bicycle fa-sm"></i> Hobilerim</a>
            </li>
            <li>
                <a href="~/Person/Operations"><i class="fas fa-user fa-sm"></i> Kişi</a>
            </li>
            <li>
                <a href="~/Career/Operations"><i class="fas fa-atlas fa-sm"></i> Mesleki Deneyimlerim</a>
            </li>
            <li>
                <a href="~/Projects/Operations"><i class="fas fa-laptop-code fa-sm"></i> Projelerim</a>
            </li>
            <li>
                <a href="~/References/Operations"><i class="fas fa-user-check fa-sm"></i> Referanslarım</a>
            </li>
            <li>
                <a href="~/Certificates/Operations"><i class="fas fa-certificate fa-sm"></i> Sertifikalarım</a>
            </li>
            <li>
                <a href="~/SocialMedia/Operations"><i class="fas fa-share-alt fa-sm"></i> Sosyal Medya</a>
            </li>
            <li>
                <a href="~/Languages/Operations"><i class="fas fa-language fa-sm"></i> Yabancı Diller</a>
            </li>
            <li>
                <a href="~/Skills/Operations"><i class="fab fa-github fa-sm"></i> Yeteneklerim</a>
            </li>
            <li>
                <a href="~/SkillCategories/Operations"><i class="fab fa-elementor fa-sm"></i> Yetenek Kategorileri</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="upperPanel">
            <a href="~/Account/Logout"><i class="fas fa-sign-out-alt fa-sm"></i>Çıkış</a>
        </div>
        <div class="wrapper">
            <div class="render">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/ManagementLayout/layout.js"></script>
    <script src="~/ManagementLayout/Content/js/bootstrap.min.js"></script>
</body>
</html>