@model DB.Models.Egitim
@{
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ManagementLayout/Content/Kendo/kendo.material-v2.min.css" rel="stylesheet" />
<script src="~/ManagementLayout/Content/Kendo/jquery.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/kendo.all.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.culture.tr-TR.min.js"></script>
<script src="~/ManagementLayout/Content/Kendo/localization/kendo.messages.tr-TR.min.js"></script>
<script src="~/js/ManagementPanel/BasicFunctions.js"></script>
<script src="~/js/ManagementPanel/Education.js"></script>

<partial name="_Alert" />

<div id="tabstrip">
    <ul>
        <li class="k-state-active">
            EĞİTİM EKLE
        </li>
        <li>
            EĞİTİMLERİM
        </li>
    </ul>

    <div>
        <form asp-controller="Education"
              asp-action="@((bool)ViewBag.Update ? "UpdateDB": "Operations")"
              method="post">
            @Html.AntiForgeryToken()
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Okul Adı <span class="text-danger">*</span></label>
                        <input asp-for="OkulAdi" class="k-textbox form-control" />
                        <span class="text-danger" asp-validation-for="OkulAdi"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Eğitim Seviyesi <span class="text-danger">*</span></label>
                        <select asp-for="EgitimSeviyesi" asp-items="ViewBag.EducationTypes" class="k-textbox form-control"></select>
                        <span class="text-danger" asp-validation-for="EgitimSeviyesi"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Mezuniyet Derecesi</label>
                        <input asp-for="MezuniyetDerecesi" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Not Sistemi</label>
                        <select asp-for="NotSistemi" class="k-textbox form-control">
                            <option value="4">4lük Sistem</option>
                            <option value="100">100lük Sistem</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Baslangıç Tarihi</label>
                        <input id="baslangicTarihi" asp-for="BaslangicTarihi" class="form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Bitiş Tarihi</label>
                        <input id="bitisTarihi" asp-for="BitisTarihi" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Fakülte</label>
                        <input asp-for="Fakulte" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Bolum</label>
                        <input asp-for="Bolum" class="k-textbox form-control" />
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Şehir</label>
                        <select id="CityId" asp-for="SehirId" asp-items="ViewBag.Cities" class="k-textbox form-control" onchange="GetDistricts()"></select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>İlçe</label>
                        <select id="districts" asp-for="IlceId" asp-items="ViewBag.Districts" class="k-textbox form-control">
                            <option value="0">İlçe Seçiniz.</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Eğitim Dili</label>
                        <input asp-for="EgitimDili" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Ek Açıklama</label>
                        <textarea asp-for="EkAciklama" class="k-textbox form-control"></textarea>
                    </div>
                </div>
            </div>
            @if (ViewBag.Show == null)
            {
                <div class="col-12 m-2 clearfix">
                    <button class="k-button pull-right">KAYDET</button>
                </div>
            }
        </form>
    </div>

    <div>
        <div id="educations"></div>
    </div>
</div>